@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    user-select: none;
}

header .logo h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 20pt;
    font-weight: 600;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-right: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    background-color: #FFB100;
    color: black;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.5px;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-property: background-color;
}

.btn:hover {
    background-color: #FFBF00;
}

.intro {
    width: 100%;
    height: calc(100vh - 120px);
    background-color: #EFF5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro .textBox {
    width: 50%;
    height: 100%;
    padding: 0 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.intro .textBox .content h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
    -webkit-animation-name: cd-bounce-right;
    -moz-animation-name: cd-bounce-right;
    animation-name: cd-bounce-right;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.intro .textBox .content h1 span {
    color: #FFB100;
}

.intro .textBox .content p {
    font-size: 22px;
    -webkit-animation-name: cd-bounce-left;
    -moz-animation-name: cd-bounce-left;
    animation-name: cd-bounce-left;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

.intro .textBox .buttonBox a .btn {
    margin-top: 30px;
    -webkit-animation-name: cd-bounce-rotate;
    -moz-animation-name: cd-bounce-rotate;
    animation-name: cd-bounce-rotate;
    -webkit-animation-duration: 1.3s;
    -moz-animation-duration: 1.3s;
    animation-duration: 1.3s;
}

.intro .imgBox {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.intro .imgBox img {
    width: 400px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    animation: fadeIn linear 10s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}

.about {
    width: 100%;
    padding: 60px 120px;
}

.sectionHeading {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 65px;
    font-weight: normal;
    line-height: 60px;
    margin: 10px 0 20px;
    text-transform: uppercase;
    margin-bottom: 80px;
    text-align: center;
    color: #FFB100;
}

.about .about-content {
    width: 100%;
    height: 600px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .about-content .textBox {
    width: 50%;
    height: 100%;
}

.about .about-content .textBox h3 {
    color: #000;
    font-family: 'Lobster', cursive;
    font-size: 36px;
    font-weight: normal;
    line-height: 48px;
    margin: 0 0 18px;
}
.about .about-content .textBox h4 {
    color: #000;
    font-family: serif;
    font-size: 30px;
    margin: 20px 0;
}
.about .about-content .textBox p {
    font-size: 18pt;
    line-height: 32px;
}
.about .about-content .textBox ul {
    list-style-position: inside;
    list-style-type: square;
}
.about .about-content .textBox ul li {
    font-size: 18px;
}
.about .about-content .textBox ul li::marker {
    color: #FFB100;
}
.about .about-content .imgBox {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .about-content .imgBox img {
    width: 400px;
    border-radius: 15px;
}
.certificates {
    width: 100%;
    background-color: #EFF5F5;
    padding: 60px;
}
.certificates-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
}
.certificates-container img {
    width: 500px;
    margin: 15px 0;
}
.more {
    display: none;
}
.buttonContainer {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work {
    padding: 60px 120px;
    width: 100%;
}
.work .work-container {
    width: 100%;
    height: 100%;
}
.work .work-container .work-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 20px;
}
.banner {
    width: 100%;
    height: 100px;
    background-color: #EFF5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}
footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #fff;
    font-size: 22px;
}
.social {
    position: fixed;
    left: 20px;
    bottom: 50%;
    transform: translateY(65%);
    width: 60px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    background-color: #fff;
}
.social a{
    text-decoration: none;
}
.social img {
    width: 40px;
}






/* Animations */
@-webkit-keyframes cd-bounce-right {
    0% {
        opacity: .2;
        -webkit-transform: translateX(-200px);
    }

    60% {
        opacity: .7;
        -webkit-transform: translateX(15px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-bounce-right {
    0% {
        opacity: .2;
        -moz-transform: translateX(-200px);
    }

    60% {
        opacity: .7;
        -moz-transform: translateX(15px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@keyframes cd-bounce-right {
    0% {
        opacity: .2;
        -webkit-transform: translateX(-200px);
        -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        -o-transform: translateX(-200px);
        transform: translateX(-200px);
    }

    60% {
        opacity: .7;
        -webkit-transform: translateX(15px);
        -moz-transform: translateX(15px);
        -ms-transform: translateX(15px);
        -o-transform: translateX(15px);
        transform: translateX(15px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes cd-bounce-left {
    0% {
        opacity: .2;
        -webkit-transform: translateX(200px);
    }

    60% {
        opacity: .7;
        -webkit-transform: translateX(-15px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-bounce-left {
    0% {
        opacity: .2;
        -moz-transform: translateX(200px);
    }

    60% {
        opacity: .7;
        -moz-transform: translateX(-15px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@keyframes cd-bounce-left {
    0% {
        opacity: .2;
        -webkit-transform: translateX(200px);
        -moz-transform: translateX(200px);
        -ms-transform: translateX(200px);
        -o-transform: translateX(200px);
        transform: translateX(200px);
    }

    60% {
        opacity: .7;
        -webkit-transform: translateX(-15px);
        -moz-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
        -o-transform: translateX(-15px);
        transform: translateX(-15px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes cd-bounce-rotate {
    0% {
        opacity: .2;
        -webkit-transform: perspective(800px) rotateX(-80deg);
    }

    20% {
        opacity: 1;
    }

    60% {
        -webkit-transform: perspective(800px) rotateX(20deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: perspective(800px) rotateX(0);
    }
}

@-moz-keyframes cd-bounce-rotate {
    0% {
        opacity: .2;
        -moz-transform: perspective(800px) rotateX(-80deg);
    }

    20% {
        opacity: 1;
    }

    60% {
        -moz-transform: perspective(800px) rotateX(20deg);
    }

    100% {
        opacity: 1;
        -moz-transform: perspective(800px) rotateX(0);
    }
}

@keyframes cd-bounce-rotate {
    0% {
        opacity: .2;
        -webkit-transform: perspective(800px) rotateX(-80deg);
        -moz-transform: perspective(800px) rotateX(-80deg);
        -ms-transform: perspective(800px) rotateX(-80deg);
        -o-transform: perspective(800px) rotateX(-80deg);
        transform: perspective(800px) rotateX(-80deg);
    }

    20% {
        opacity: 1;
    }

    60% {
        -webkit-transform: perspective(800px) rotateX(20deg);
        -moz-transform: perspective(800px) rotateX(20deg);
        -ms-transform: perspective(800px) rotateX(20deg);
        -o-transform: perspective(800px) rotateX(20deg);
        transform: perspective(800px) rotateX(20deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: perspective(800px) rotateX(0);
        -moz-transform: perspective(800px) rotateX(0);
        -ms-transform: perspective(800px) rotateX(0);
        -o-transform: perspective(800px) rotateX(0);
        transform: perspective(800px) rotateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}